{% extends 'base.html' %}
{% block content %}
    <div class="page-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <aside class="sidebar">
                        <!-- Widget Category -->
                        <div class="widget widget-category">
                            <h4 class="widget-title">Categories</h4>
                            <ul class="widget-category-list">
                                {% for category in categories %}
                                    <li><a href="{% url 'categoryQuestion' category_id=category.id %}">{{category.title|title}}</a></li>
                                {% endfor %}
                            </ul>
                        </div> <!-- End category  -->
                    </aside>
                </div>
                <div class="col-md-8">
                    {% if questions %}
                        {% for question in questions %}
                            <div class="post">
                                <h3 class="post-title"><a href="{% url 'QuestionDetails' question_id=question.id %}">{{question.question|title}}</a></h3>
                                <div class="post-meta">
                                    <ul>
                                        <li>
                                            <i class="ion-calendar"></i> {{question.added_date}}
                                        </li>
                                        <li>
                                            <i class="ion-android-people"></i> 
                                        </li>
                                        <li>
                                            <a href=""><i class="ion-pricetags"></i> {{question.category.title}}</a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="post-content">
                                    <a href="{% url 'QuestionDetails' question_id=question.id %}" class="btn btn-main">Continue Reading</a>
                                </div>

                            </div>
                        {% endfor %}
                    {% else %}
                        <h6>Data Not Found</h6>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}